body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, 'sans-serif';
  background: #e3f2fd;
  min-height: 100vh;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background: #e3f2fd;
}
::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1565c0;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
